
<mat-toolbar color="primary">
    <span>You Scanned My QR Code</span>
</mat-toolbar>

<div class="mat-body">
    <div class="center-text padding-between-elements">
        Your ip
    </div>
    
    <div class="center-text">
        {{usersIP}}
    </div>
    
    <div class="center-text padding-between-elements">
        Your location
    </div>
    
    <div class="center-text">
        {{userslatitude}}, {{userslongitude}}
    </div>

    <div class="center-text">
        {{usersCity}}, {{usersState}}
    </div>
    
    <div class="center-text padding-between-elements">
        What is this?
    </div>
    
    <div class="center-text">
        I am a bored developer and thought it would be fun to see how many people randomly scan my QR code.
    </div>
    
    <div class="center-text padding-between-elements">
        Who Else Scanned This QR Code?
    </div>
</div>
