@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://unpkg.com/@angular/material@10.2.5/prebuilt-themes/indigo-pink.css';


body { 
    background-color: #E9F1FA !important; 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}